@model DF_Web.Models.DungeonList
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    #Dungeons {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #Dungeons td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #Dungeons tr:nth-child(even) {
            background-color: #ddd;
        }

        #Dungeons tr:hover {
            background-color: darkslategray;
            color: #ddd;
        }

        #Dungeons th {
            border: 1px solid #ddd;
            padding-left: 8px;
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: darkslategray;
            color: #ddd;
        }
</style>

<h1>Paths rolled:</h1>
<div>
    <table id="Dungeons">
        <tr>
            <th>Dungeon Name</th>
            <th>Path</th>
        </tr>
        @foreach (var item in Model.GetRandomDungeonList())
            {

            <tr>
                <td>@item.GetName()</td>
                <td>@item.GetRandomPath()</td>
            </tr>
            }
    </table>

        </div>
<h1>Bonus path:</h1>
<div>
    <h4>@Model.GetArah().GetName() :  @Model.GetArah().GetRandomPath()</h4>
</div>


    <div align="center">   
        <h3>Set amount of paths</h3> 
    </div>

<div align="center">
    <button style="font-size : 30px">@Html.ActionLink("1", "RandomList/1", "Dungeons")</button>
    <button style="font-size : 30px">@Html.ActionLink("2", "RandomList/2", "Dungeons")</button>
    <button style="font-size : 30px">@Html.ActionLink("3", "RandomList/3", "Dungeons")</button>
    <button style="font-size : 30px">@Html.ActionLink("4", "RandomList/4", "Dungeons")</button>
    <button style="font-size : 30px">@Html.ActionLink("5", "RandomList/5", "Dungeons")</button>
    <button style="font-size : 30px">@Html.ActionLink("6", "RandomList/6", "Dungeons")</button>
    <button style="font-size : 30px">@Html.ActionLink("7", "RandomList/7", "Dungeons")</button>
</div>