@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dungeon Roller</h1>
    <p class="lead">
        This application came to existence just to roll desired amount of paths from Guild Wars 2 dungeons. 
        It is used for guild events, to replace manual rolling of each path.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
   <!-- This looks horrible, change it-->
        <h2>Unique paths, unique dungeons</h2>
        <p>

            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <ul><li>Set amount of paths</li></ul> 
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <button class="dropdown-item" style="font-size : 20px">@Html.ActionLink("1", "RandomList/1", "Dungeons")</button>
                    <button class="dropdown-item" style="font-size : 20px">@Html.ActionLink("2", "RandomList/2", "Dungeons")</button>
                    <button class="dropdown-item" style="font-size : 20px">@Html.ActionLink("3", "RandomList/3", "Dungeons")</button>
                    <button class="dropdown-item" style="font-size : 20px">@Html.ActionLink("4", "RandomList/4", "Dungeons")</button>
                    <button class="dropdown-item" style="font-size : 20px">@Html.ActionLink("5", "RandomList/5", "Dungeons")</button>
                    <button class="dropdown-item" style="font-size : 20px">@Html.ActionLink("6", "RandomList/6", "Dungeons")</button>
                    <button class="dropdown-item" style="font-size : 20px">@Html.ActionLink("7", "RandomList/7", "Dungeons")</button>   
                </div>
            </div>


       
                
                
            

        </p>

    </div>
    <div class="col-md-4">
        <h2>Functionality 2</h2>
        <p>
            <ul>
                <li>@Html.ActionLink("Not yet", "", "")</li>
            </ul>

        </p>
    </div>
    <div class="col-md-4">
        <h2>Functionality 3</h2>
        <p>
            <ul>
                <li>@Html.ActionLink("Not yet", "", "")</li>
            </ul>

        </p>
    </div>
</div>





